@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  color: map-get($colors, black);
  background-color: map-get($colors, dark-white);
  line-height: 155%;
}

a {
  color: map-get($colors, black);
  text-decoration: none;
}

img {
  display: block;
}
